<header>

    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-2 center">
                <a href="/">
                    <img src="/assets/img/{{ site.author_logo }}" class="profile-img">
                </a>
            </div>
            <div class="col-md-4">
                <h1 class="profile-name"> {{ site.title }}</h1>
                <p class="profile-bio"> {{ site.subtitle }}</p>
                <p class="profile-links">
                    <a class="social-link" href="http://twitter.com/{{ site.twitter_username }}">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="social-link" href="https://ruby.social/@{{ site.mastodon_username }}">
                        <i class="fab fa-mastodon"></i>
                    </a>
                    <a class="social-link" href="http://linkedin.com/in/{{ site.linkedin_username }}">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="social-link" href="https://dev.to/{{ site.dev_username }}">
                        <i class="fab fa-dev"></i>
                    </a>
                    <a class="social-link" href="http://medium.com/@{{ site.medium_username }}">
                        <i class="fab fa-medium-m"></i>
                    </a>
                    <a class="social-link" href="https://gitlab.com/{{ site.gitlab_username }}">
                        <i class="fab fa-gitlab"></i>
                    </a>
                    <a class="social-link" href="http://github.com/{{ site.github_username }}">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="social-link" href="https://www.reddit.com/user/{{ site.reddit_username }}">
                        <i class="fab fa-reddit"></i>
                    </a>
                    <a class="social-link" href="https://stackoverflow.com/story/{{ site.stack-overflow_username }}">
                        <i class="fab fa-stack-overflow"></i>
                    </a>
                    <a class="social-link" href="http://instagram.com/{{ site.instagram_username }}">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="social-link" href="http://facebook.com/{{ site.facebook_username }}">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </p>

            </div>
            <div class="col-md-6 center">

                <ul class="nav justify-content-end" id="navigation">
                    {%- assign default_paths = site.pages | map: "path" -%} {%- assign page_paths = site.header_pages | default: default_paths-%}
                    {%- if page_paths -%} {%- for path in page_paths -%} {%- assign my_page = site.pages | where: "path",path
                    | first -%} {%- if my_page.title -%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                    </li>
                    {%- endif -%} {%- endfor -%}

                </ul>

                {%- endif -%}

            </div>
        </div>
    </div>

</header>