body {
    background-color: #D6DDE1 !important;
    font-family: 'Quicksand', sans-serif !important;
}

header {
    background-color: #F5F5F5;
    box-shadow: 10px 0px 8px;
    height: 200px;
    width: 100%;
    padding: 11px;
}

.container-fluid {
    margin: 0px !important;
    padding: 0px !important;
}

.profile-img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border: 6px solid #000;
    border-radius: 100%;
}

.profile-name {
    margin-top: 20px;
}

.profile-bio,
.profile-links {
    margin-top: 5px;
}

.border {
    border: 1px solid #000;
}

.center {
    text-align: center;
}

.card {
    margin: 20px !important;
    padding: 20px !important;
}

.blog-post {
    .card-title {
        text-decoration: none;
        margin: 1em 0;

        :hover {
            text-decoration: none;
        }
    }

    .card-text {
        text-align: left;
    }
}

blockquote {
    margin: 2em 5em 2em 5em;
    padding: 0.4em;
    border-left: 8px solid #CCC;
    font-size: 1.5em;

    p {
        margin: 0;
    }
}

.twitter-tweet {
    margin: 0 auto;
    padding: 2em 0;
}

.social-link {
    color: #262222;
    font-size: 15px;
    padding: 5px;
    margin: 2px;
}

#navigation {
    margin-top: 50px;
}

.nav-link {
    font-size: 24px !important;
    color: #000;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #F5F5F5;
}

.company-logo {
    width: 100px;
    height: 100px;
}

.project-img {
    width: 300px;
    height: 200px;
}

.author-profile-img {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 100%;
}

.project-desc {
    float: left;
}

.project-link {
    color: gray;
    font-size: 15px;
}

.card-header {
    border-radius: 0% !important;
}

.blog-post {
    width: 350px;
    height: auto;
    margin: 20px !important;
}

.responsive-table {
    display: block;
    width: 100%;
    overflow-x: auto;
}

pre,
code {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    font-family: Courier, monospace;
    font-size: 16px;
    background-color: #F4F6F8;
    padding: 5px;
    display: block;
}

@media (min-width: 320px) and (max-width: 780px) {
    header {
        height: auto;
        text-align: center;
    }
    .blog-post {
        width: 300px;
        height: auto;
        margin-left: -20px !important;
    }
}