--- 
layout: default 
---

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Blog</a>
            </li>
            <!--
            <li class="breadcrumb-item">
                <a href="/categories">Categories</a>
            </li>
            -->
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
    </nav>

    <div class="row">

    <div class="col-lg-8">

        <article class="card" itemscope itemtype="http://schema.org/BlogPosting">


            <div class="card-header">
                <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
                <hr/>
                <h4 class="post-meta">{{ page.summary }}</h4>
                <hr/>
                <p class="post-summary">Posted by: {% if page.author %}
                    <!-- <img src="/assets/img/{{ site.author_logo }}" class="author-profile-img"> -->
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span itemprop="name">{{ page.author }}</span>
                    </span>{% endif %} on
                    <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
                </p>
                <!--
                <div class="post-categories">
                    {% if post %} {% assign categories = post.categories %} {% else %} {% assign categories = page.categories %} {% endif %}
                    Category : {% for category in categories %}
                    <a href="{{site.baseurl}}/blog/categories/{{category|slugize}}">{{category}}</a>
                    {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
                </div>
                -->
            </div>

            <div class="card-body" itemprop="articleBody">
                <img class="card-img-top" src="/assets/img/{{ page.thumbnail }}" alt="{{ post.title }}">
                <hr/>
                {{ content }}
            </div>
        </article>

    </div>

    <div class="col-lg-4">

        <div class="card">

            <div class="card-header">Categories </div>
            <div class="card-body text-dark">
                {% for tag in site.categories %} {% capture tag_name %}{{ tag | first }}{% endcapture %}
                <div id="#{{ tag_name | slugize }}"></div>
                <li class="tag-head">
                    <a href="{{ site.baseurl }}/blog/categories/{{ tag_name }}">{{ tag_name }}</a>
                </li>
                <a name="{{ tag_name | slugize }}"></a>

                {% endfor %}
            </div>


        </div>
    </div>
    <!-- End of Sidebar -->

    </div>